/* Основные стили для body */
body {
    background-color: gray; /* Цвет фона */
    margin: 0; /* Убираем отступы по умолчанию */
}

/* Стили для заголовка */
.header {
    background: #181818; /* Цвет фона заголовка */
}

/* Основной контейнер заголовка */
.header_main {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    height: 120px; /* Высота заголовка */
}

/* Навигационное меню в заголовке */
.header_nav {
    margin-left: 120px; /* Отступ слева */
    margin-right: 149px; /* Отступ справа */
}

/* Стили для ссылок в навигации */
.header_nav a {
    margin-right: 31px; /* Отступ между ссылками */
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    font-family: serif; /* Шрифт для ссылок */
}

/* Эффект при наведении на ссылки */
.header_nav a:hover {
    color: gray; /* Цвет текста при наведении */
    font-family: sans-serif; /* Изменение шрифта при наведении */
}

/* Контейнер для текстов заголовка */
.header_texts {
    padding-top: 50px; /* Отступ сверху */
    padding-bottom: 50px; /* Отступ снизу */
    margin-top: 35px; /* Отступ сверху от других элементов */

    display: flex; /* Используем Flexbox для выравнивания текстов */
    flex-direction: column; /* Располагаем тексты вертикально */
    align-items: center; /* Центрируем тексты по горизонтали */
}

/* Заголовок текста */
.header_texts_title {
    font-size: 80px; /* Размер шрифта заголовка */
    font-family: sans-serif; /* Шрифт заголовка */
    color: white; /* Цвет текста заголовка */
    margin: 0; /* Убираем отступы */
    width: 40%; /* Ширина заголовка */
}

/* Подзаголовок текста */
.header_texts_subtitle {
    font-size: 20px; /* Размер шрифта подзаголовка */
    font-family: sans-serif; /* Шрифт подзаголовка */
    color: white; /* Цвет текста подзаголовка */
    margin: 0; /* Убираем отступы */
    margin-top: 17px; /* Отступ сверху от заголовка */

    width: 40%; /* Ширина подзаголовка */
}

/* Контейнер для изображения в заголовке */
.header__image {
    margin-top: 35px; /* Отступ сверху */

    display: flex; /* Используем Flexbox для центрирования изображения */
    justify-content: center; /* Центрируем изображение по горизонтали */
}

/* Контейнер для кнопок в заголовке */
.header__buttons {
    margin-top: 35px; /* Отступ сверху */

    display: flex; /* Используем Flexbox для выравнивания кнопок */
    align-items: center; /* Центрируем кнопки по вертикали */
    justify-content: center; /* Центрируем кнопки по горизонтали */
}


/* *****************************buttons */
.primary {
    color: white;
    background: #4452FE;
    padding: 20px 40px;
    font-family: sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
.primary:hover {
    background: #3243ff;

}
.secondary {
    background: transparent;
    border: 1px solid white;
    color: wheat;
    padding: 19px 40px;
    font-family: sans-serif;
    font-size: 1em;
    cursor: pointer;
}
.secondary:hover {
    color: #ffffff;
    border: 1px solid rgb(255, 0, 0);
}

.header_first_button {
    margin-right: 35px;
}