@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100..900&family=Noto+Serif+Balinese&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100..900&family=Noto+Serif+Balinese&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: gray;
    font-family: "Montserrat", serif;
}

.logo {
    margin-left: 1.3em;
}

.Zagolovok {
    color: rgba(51, 56, 63, 1);
}

.head_1 {
    font-family: "Fraunces", serif;
    color: rgba(31, 31, 31, 1);
    width: 985px;
    font-size: 3em;
}

.site-nav {
    display: flex;
    padding: .5em;
    padding-left: 0;
    background-color: aqua;
    list-style-type: none;
    align-items: center;
}

.site-nav>li>a {
    text-decoration: none;
    display: block;
    padding: .5em .7em;
}

.site-nav>li+li {
    margin-left: 1.3em;
}

.site-nav>.nav-right_2 {
    margin-left: 73em;
}

.site-nav>.nav-right {
    margin-left: auto;
}

.nav-right {
    background-color: rgba(0, 112, 160, 1);
    border-radius: 1px;
}


.section_1 {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-right: 75px;
}

.wrapper_2 {
    margin-left: 75px;
}

.header {
    margin-bottom: 50px;
}

.wrapper_left {
    display: flex;
    align-items: center;

}

.button_2 {
    background-color: rgba(0, 112, 160, 1);
    color: rgba(255, 255, 255, 1);
    width: 174px;
    height: 43px;
    margin-right: 20px;
}

.section_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.section_3 {
    height: 200px;

}

.site-nav_2 {
    display: flex;
    padding: .5em;
    padding-left: 0;
    background-color: aqua;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.box_1 {
    background-color: rgba(250, 234, 115, 1);
    margin: 1em;
}

.box_2 {
    background-color: rgba(204, 239, 246, 1);
    margin: 1em;
}

.box_3 {
    background-color: rgba(247, 206, 220, 1);
    margin: 1em;
}

.section_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.section_5 {
    height: 694px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: -11em;
    justify-content: space-around;
}



/* =======
     === 
     =
     */
/* .menu {
    position: relative;
    display: inline-block;
} */

/* .menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} */

/* .menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

/* .menu-content a:hover {
    background-color: #f1f1f1;
} */

/* .menu:hover .menu-content {
    display: block;
} */


.section_5_left {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 1em; */
}



.details {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto 10px;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
  }
  
  .details::after {
    position: absolute;
    right: 24px;
    top: 15px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #425995;
    border-bottom: 3px solid #425995;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: .3s;
  }
  
  .details[open]::after {
    transform: rotate(45deg);
  }
  
  .details[open] {
    padding-bottom: 100px;
  }
  
  .details[open] .details__title {
    margin-bottom: 32px;
  }
  
  .details__title {
    background: #fff;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
    transition: .3s;
  }
  
  .details__title::-webkit-details-marker {
    display: none;
  }
  
  .details__content {
    padding: 0 32px;
    font-size: 18px;
    margin-bottom: -60px;
  }
  
  .details__content p:last-child {
    margin-bottom: 0;
  }
  .details__content p:first-child {
    margin-top: 0;
  }